$small: 900px;
$medium: 1200px;

.login {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


            .LogoWrap{
                margin-top: 5%;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
    
            .icon{
                font-size: 40px;
                font-weight: bold;
                color: #ffffff;
                padding: 4px;
                border-radius: 5px;
                background: #ba9811;

        @media screen and (max-width: $medium) {
                font-size: 30px;
            }
        
            @media screen and (max-width: $small) {
                font-size: 30px;
            }

            }
    
            .logo{
                font-size: 40px;
                font-weight: bold;
                color: #ffffff;

    @media screen and (max-width: $medium) {
            font-size: 30px;  
        }
    
        @media screen and (max-width: $small) {
            font-size: 30px;
        }
            }
            
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


.contentCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .conTitle{
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.4px;
    color: #fff;
    max-width: 45%;
    text-align: center;
    text-shadow: 3px -1px 0px rgba(0, 0, 0, 0.94);

        @media screen and (max-width: $medium) {
        font-size: 30px;
        font-weight: 500;
        max-width: 90%;
        }
        //  mobile media query

    @media screen and (max-width: $small) {
        font-size: 30px;
        font-weight: 500;
        max-width: 90%;
        }

    
    }

    .content{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.5px;
    max-width: 40%;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px -1px 0px rgba(0, 0, 0, 0.94);

@media screen and (max-width: $medium) {
        max-width: 90%;
        font-size: 14px;
    }

    @media screen and (max-width: $small) {
        max-width: 90%;
        font-size: 14px;

    }

    }

    .btn{

        color: #fff;
        background: #ba9811;
        width: max-content;
        border: none;
        border-radius: 10px;
        padding: 15px 50px;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

      @media screen and (max-width: $medium) {
                padding: 15px 30px;
                font-size: 20px;
            }
        
            @media screen and (max-width: $small) {
                padding: 15px 30px;
                font-size: 20px;
            }

        &:hover{
        color: #d8cece;
        background: #967a0a;
        }
    }
}
}

    .formContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;


        .formCard {
            width: 500px;
            height: 400px;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.275);
            text-align: center;

@media screen and (max-width: $medium) {
            width: 300px;
            height: 400px;
            padding: 30px;

    }

    @media screen and (max-width: $small) {
        max-width: 90%;
        font-size: 14px;

    }

            .formTitle {
                color: #967a0a;
                margin-bottom: 20px;
            }

            .formWrap{

            display: flex;
            flex-direction: column;
            gap: 15px;
                
                .form {
                    display: flex;
                    flex-direction: column;
    
                    label {
                        text-align: left;
                        margin-bottom: 5px;
                    }
    
                    input {
                        padding: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        outline: none;
                    }
    
                }
            }

            .signBtn {
            width: 100%;
            color: #fff;
            background: #ba9811;
            border: none;
            border-radius: 10px;
            padding: 15px 50px;
            font-size: 24px;
            font-weight: 500;
            cursor: pointer;
        
            &:hover {
                color: #d8cece;
                background: #967a0a;
            }
            }

            .error {
                color: #d4d4d4;
                background: #d92e2e;
                padding: 5px 10px;
                margin-top: 2%;
                border-radius: 5px;
            }
        }
    }
}