$small: 900px;
$medium: 1200px;

.home{

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;

    .copyRight{
    color: #967a0a;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    @media screen and (max-width: $medium) {
    font-size: 16px;
    font-weight: 400;

    }

    @media screen and (max-width: $small) {
    font-size: 16px;
    font-weight: 400;

    }

}
    }
}
